smg-connectors/src/main/resources/wsdl/getCustomerBudgetDetail.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fjs="http://soprabanking.com/amplitude" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getCustomerBudgetDetail" targetNamespace="http://soprabanking.com/amplitude">
<wsdl:types>
<xsd:schema xmlns:s1="http://soprabanking.com/amplitude" elementFormDefault="qualified" targetNamespace="http://soprabanking.com/amplitude">
<xsd:simpleType name="charMax50">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="charMax10">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char3">
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="charMax30">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="language">
<xsd:sequence>
<xsd:element minOccurs="0" name="code" type="s1:char3"/>
<xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="responseHeader">
<xsd:sequence>
<xsd:element name="requestId" type="s1:charMax50"/>
<xsd:element name="responseId" type="s1:charMax50"/>
<xsd:element type="xsd:dateTime" name="timestamp"/>
<xsd:element name="serviceVersion" type="s1:charMax10"/>
<xsd:element minOccurs="0" name="language" type="s1:language"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="statusCodeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="-1"/>
<xsd:enumeration value="0"/>
<xsd:enumeration value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="responseMessageNature">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ERROR"/>
<xsd:enumeration value="INFO"/>
<xsd:enumeration value="WARNING"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char6">
<xsd:restriction base="xsd:string">
<xsd:length value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="errorInformation">
<xsd:sequence>
<xsd:element type="xsd:string" name="errorCode" minOccurs="0"/>
<xsd:element type="xsd:string" name="convertedCode" minOccurs="0"/>
<xsd:element type="xsd:string" name="errorMessage" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="responseStatusMessage">
<xsd:sequence>
<xsd:element name="nature" type="s1:responseMessageNature"/>
<xsd:element name="code" type="s1:char6"/>
<xsd:element type="xsd:string" name="line" maxOccurs="unbounded" minOccurs="0"/>
<xsd:element minOccurs="0" name="errorInformation" type="s1:errorInformation"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="responseStatusMessages">
<xsd:sequence>
<xsd:element name="message" type="s1:responseStatusMessage" maxOccurs="unbounded" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="responseStatus">
<xsd:sequence>
<xsd:element name="statusCode" type="s1:statusCodeType"/>
<xsd:element minOccurs="0" name="messages" type="s1:responseStatusMessages"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="errorResponseFlow">
<xsd:sequence>
<xsd:element name="responseHeader" type="s1:responseHeader"/>
<xsd:element name="responseStatus" type="s1:responseStatus"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="errorResponseFlow" type="s1:errorResponseFlow"/>
<xsd:complexType name="getStatusRequestFlow">
<xsd:sequence>
<xsd:element type="xsd:string" name="getStatusRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getStatusRequestFlow" type="s1:getStatusRequestFlow"/>
<xsd:complexType name="getStatusResponse">
<xsd:sequence>
<xsd:element type="xsd:dateTime" name="timeStamp"/>
<xsd:element name="serviceName" type="s1:charMax50"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getStatusResponseFlow">
<xsd:sequence>
<xsd:element name="getStatusResponse" type="s1:getStatusResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getStatusResponseFlow" type="s1:getStatusResponseFlow"/>
<xsd:simpleType name="languageCode">
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="channelCode">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="requestHeader">
<xsd:sequence>
<xsd:element name="requestId" type="s1:charMax50"/>
<xsd:element name="serviceName" type="s1:charMax50"/>
<xsd:element type="xsd:dateTime" name="timestamp"/>
<xsd:element minOccurs="0" name="originalName" type="s1:charMax50"/>
<xsd:element minOccurs="0" name="originalId" type="s1:charMax50"/>
<xsd:element type="xsd:dateTime" name="originalTimestamp" minOccurs="0"/>
<xsd:element minOccurs="0" name="languageCode" type="s1:languageCode"/>
<xsd:element name="userCode" type="s1:charMax10"/>
<xsd:element minOccurs="0" name="channelCode" type="s1:channelCode"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="charMax15">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="customerIdentifier">
<xsd:sequence>
<xsd:element name="customerCode" type="s1:charMax15"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getCustomerBudgetDetailRequest">
<xsd:sequence>
<xsd:element name="customerIdentifier" type="s1:customerIdentifier"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getCustomerBudgetDetailRequestFlow">
<xsd:sequence>
<xsd:element name="requestHeader" type="s1:requestHeader"/>
<xsd:element name="getCustomerBudgetDetailRequest" type="s1:getCustomerBudgetDetailRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getCustomerBudgetDetailRequestFlow" type="s1:getCustomerBudgetDetailRequestFlow"/>
<xsd:simpleType name="customerCode">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal15_7">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="15"/>
<xsd:fractionDigits value="7"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="customerIncomeDetailIdentifier">
<xsd:sequence>
<xsd:element name="customerCode" type="s1:customerCode"/>
<xsd:element type="xsd:int" name="displayOrderNumber"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="typeOfcustomerIncomes">
<xsd:sequence>
<xsd:element minOccurs="0" name="code" type="s1:char3"/>
<xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="periodicity">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="A"/>
<xsd:enumeration value="M"/>
<xsd:enumeration value="S"/>
<xsd:enumeration value="T"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal19_4">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="19"/>
<xsd:fractionDigits value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="simpleCurrency">
<xsd:sequence>
<xsd:element minOccurs="0" name="alphaCode" type="s1:char3"/>
<xsd:element minOccurs="0" name="numericCode" type="s1:char3"/>
<xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="integerBetween0And4">
<xsd:restriction base="xsd:decimal">
<xsd:minInclusive value="0"/>
<xsd:maxInclusive value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="amountCurrency">
<xsd:sequence>
<xsd:element name="currency" type="s1:simpleCurrency"/>
<xsd:element minOccurs="0" name="numberOfDecimals" type="s1:integerBetween0And4"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="amount">
<xsd:sequence>
<xsd:element name="amount" type="s1:decimal19_4"/>
<xsd:element name="currency" type="s1:amountCurrency"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="customerIncomeDetail">
<xsd:sequence>
<xsd:element name="identifier" type="s1:customerIncomeDetailIdentifier"/>
<xsd:element minOccurs="0" name="incomeCode" type="s1:typeOfcustomerIncomes"/>
<xsd:element minOccurs="0" name="incomePeriodicityCode" type="s1:periodicity"/>
<xsd:element minOccurs="0" name="amount" type="s1:amount"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="customerIncomesDetail">
<xsd:sequence>
<xsd:element name="customerIncomeDetail" type="s1:customerIncomeDetail" maxOccurs="unbounded" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="customerChargeDetailIdentifier">
<xsd:sequence>
<xsd:element name="customerCode" type="s1:customerCode"/>
<xsd:element type="xsd:int" name="displayOrderNumber"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="typeOfcustomerCharges">
<xsd:sequence>
<xsd:element minOccurs="0" name="code" type="s1:char3"/>
<xsd:element minOccurs="0" name="designation" type="s1:charMax30"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="customerChargeDetail">
<xsd:sequence>
<xsd:element name="identifier" type="s1:customerChargeDetailIdentifier"/>
<xsd:element minOccurs="0" name="chargeCode" type="s1:typeOfcustomerCharges"/>
<xsd:element minOccurs="0" name="periodicityCode" type="s1:periodicity"/>
<xsd:element minOccurs="0" name="amount" type="s1:amount"/>
<xsd:element minOccurs="0" name="initialAmount" type="s1:amount"/>
<xsd:element type="xsd:date" name="maturityDate" minOccurs="0"/>
<xsd:element minOccurs="0" name="organisation" type="s1:charMax30"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="customerChargesDetail">
<xsd:sequence>
<xsd:element name="customerChargeDetail" type="s1:customerChargeDetail" maxOccurs="unbounded" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="customerBudgetDetail">
<xsd:sequence>
<xsd:element name="customerCode" type="s1:customerCode"/>
<xsd:element type="xsd:int" name="budgetReferenceYear" minOccurs="0"/>
<xsd:element minOccurs="0" name="averageTaxRate" type="s1:decimal15_7"/>
<xsd:element minOccurs="0" name="customerIncomesDetail" type="s1:customerIncomesDetail"/>
<xsd:element minOccurs="0" name="customerChargesDetail" type="s1:customerChargesDetail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getCustomerBudgetDetailResponse">
<xsd:sequence>
<xsd:element name="customerBudgetDetail" type="s1:customerBudgetDetail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getCustomerBudgetDetailResponseFlow">
<xsd:sequence>
<xsd:element name="responseHeader" type="s1:responseHeader"/>
<xsd:element name="responseStatus" type="s1:responseStatus"/>
<xsd:element minOccurs="0" name="getCustomerBudgetDetailResponse" type="s1:getCustomerBudgetDetailResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getCustomerBudgetDetailResponseFlow" type="s1:getCustomerBudgetDetailResponseFlow"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="errorResponseFlow">
<wsdl:part name="errorResponseFlow" element="fjs:errorResponseFlow"/>
</wsdl:message>
<wsdl:message name="getStatusIn">
<wsdl:part name="parameters" element="fjs:getStatusRequestFlow"/>
</wsdl:message>
<wsdl:message name="getStatusOut">
<wsdl:part name="parameters" element="fjs:getStatusResponseFlow"/>
</wsdl:message>
<wsdl:message name="getCustomerBudgetDetailIn">
<wsdl:part name="parameters" element="fjs:getCustomerBudgetDetailRequestFlow"/>
</wsdl:message>
<wsdl:message name="getCustomerBudgetDetailOut">
<wsdl:part name="parameters" element="fjs:getCustomerBudgetDetailResponseFlow"/>
</wsdl:message>
<wsdl:portType name="getCustomerBudgetDetailPortType">
<wsdl:operation name="getStatus">
<wsdl:input message="fjs:getStatusIn" name="getStatusRequestFlow"/>
<wsdl:output message="fjs:getStatusOut" name="getStatusResponseFlow"/>
<wsdl:fault message="fjs:errorResponseFlow" name="errorResponseFlow"/>
</wsdl:operation>
<wsdl:operation name="getCustomerBudgetDetail">
<wsdl:input message="fjs:getCustomerBudgetDetailIn" name="getCustomerBudgetDetailRequestFlow"/>
<wsdl:output message="fjs:getCustomerBudgetDetailOut" name="getCustomerBudgetDetailResponseFlow"/>
<wsdl:fault message="fjs:errorResponseFlow" name="errorResponseFlow"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="getCustomerBudgetDetailBinding" type="fjs:getCustomerBudgetDetailPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="getStatus">
<soap:operation soapAction="getStatus"/>
<wsdl:input name="getStatusRequestFlow">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getStatusResponseFlow">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="errorResponseFlow">
<soap:fault use="literal" name="errorResponseFlow"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getCustomerBudgetDetail">
<soap:operation soapAction="getCustomerBudgetDetail"/>
<wsdl:input name="getCustomerBudgetDetailRequestFlow">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getCustomerBudgetDetailResponseFlow">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="errorResponseFlow">
<soap:fault use="literal" name="errorResponseFlow"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="getCustomerBudgetDetail">
<wsdl:port binding="fjs:getCustomerBudgetDetailBinding" name="getCustomerBudgetDetailPortType">
<soap:address location="https://192.168.208.33:8095/getCustomerBudgetDetail"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>